*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.idea/codeStyles
.idea/shelf
/.idea/vcs.xml
/.idea/dictionaries
/.idea/inspectionProfiles
/build
/app/build
/captures
.externalNativeBuild
.cxx
/google-services.json
.DS_Store
*.apk
*.output.json
*.keystore
*.jks
!debug.keystore
!debug.jks
.navigation/
captures/
*.swp
*~
.cxx/
.externalNativeBuild/
.kotlin/
.vscode/
